# Libeli
pyproj==3.6.1
shapely==2.0.6
regex==2024.7.24
validators==0.34.0

# Common
colorlog==6.8.2
jsonschema==4.23.0
certifi>=2022.12.07

# Check
#shapely
#jsonschema

# Strict check
mercantile==1.2.1
requests==2.32.3
urllib3==2.2.3
validators==0.34.0
#jsonschema
#shapely

# WMS sync
aiofiles==24.1.0
aiohttp[speedups]==3.10.8
imagehash==4.3.1
python-magic==0.4.27
mercantile==1.2.1
pillow==10.4.0
#shapely
#pyproj
