# Libeli
pyproj==3.3.1
shapely==1.8.2
regex==2022.6.2
validators==0.20.0

# Common
colorlog==6.6.0
jsonschema==4.6.0
certifi==2022.5.18.1

# Check
#shapely
#jsonschema

# Strict check
mercantile==1.2.1
requests==2.27.1
urllib3==1.26.9
validators==0.20.0
#jsonschema
#shapely

# WMS sync
aiofiles==0.8.0
aiohttp[speedups]==3.8.1
imagehash==4.2.1
python-magic==0.4.26
mercantile==1.2.1
pillow==9.1.1
#shapely
#pyproj
