# Libeli
pyproj==3.6.1
shapely==2.0.2
regex==2023.10.3
validators==0.22.0

# Common
colorlog==6.7.0
jsonschema==4.19.1
certifi>=2022.12.07

# Check
#shapely
#jsonschema

# Strict check
mercantile==1.2.1
requests==2.31.0
urllib3==2.1.0
validators==0.22.0
#jsonschema
#shapely

# WMS sync
aiofiles==23.2.1
aiohttp[speedups]==3.9.0
imagehash==4.3.1
python-magic==0.4.27
mercantile==1.2.1
pillow==10.1.0
#shapely
#pyproj
