pillow==9.0.0
aiohttp[speedups]==3.8.0
aiofiles==0.7.0
imagehash==4.2.1
mercantile==1.2.1
shapely==1.8.0
pyproj==3.2.1
jsonschema==4.2.1
colorlog==6.6.0
pyproj==3.2.1
python-magic==0.4.24
validators==0.18.2
regex==2021.11.10
