pillow==8.1.2
aiohttp[speedups]==3.7.4.post0
aiofiles==0.6.0
imagehash==4.2.0
mercantile==1.1.6
shapely==1.7.1
pyproj==3.0.1
jsonschema==3.2.0
colorlog==4.7.2
pyproj==3.0.1
python-magic==0.4.22
validators==0.18.2
regex==2021.3.17
